@import '../../variable';
@mixin buttonHover {
    box-shadow: .2px .2px 6px rgba(0, 0, 0, 0.5);
}
@mixin slide($translateX){
    z-index: 5;
    position: absolute;
    top: 50%;
    transform: translate($translateX,-20px);
    cursor: pointer;
}

.CampingDetailPage{
    margin: 0 auto $headerHeight;
    color: $contentClr;
    .main{
        max-width: $maxWidth;
        top: $headerHeight;
        position: relative;
        margin: 0 auto;
        .breadCrumb{
            padding: 10px 0;
            font-size: $contentText;
        }
        .mainTitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid $subClrGY;
            .title{
                font-size: $text32;
                margin-right: 15px;
            }
            .joinBtn{
                display: inline-block;
                margin-right: 20px;
                padding: 4px 8px;
                color: $mainClrW;
                border: 0;
                border-radius: 2px;
                background-color: $focusClrY;
                transition: .3s;
                cursor: pointer;
                &:hover{
                    @include buttonHover;
                }
            }
        }
        .titleContainer{
            .titleContent{
                display: flex;
                align-items: center;
                font-size: 20px;
                color: $subClrBrown;
                margin: 30px 20px;
                .titleText{
                    font-size: 18px;
                    color: $contentClr;
                }
            }
        }
        // title img
        .ContainerImg {
            margin: 30px auto 50px;
            max-width: 750px;
            height: 500px;
            position: relative;
            border: 10px solid;    
            border-color: #fff;
            background-color: #f5f5f5;
            box-shadow: #666 0 0 5px;
            &:hover .titleImg {
                -webkit-animation-play-state: paused;
                        animation-play-state: paused;
            }
            .titleImg{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            filter: alpha(opacity=0);
            -webkit-animation: round 12s linear infinite;
            animation: round 12s linear infinite;
            &:nth-child(3) {
                -webkit-animation-delay: 0s;
                        animation-delay: 0s;
            }
            &:nth-child(2) {
                -webkit-animation-delay: 4s;
                        animation-delay: 4s;
            }
            &:nth-child(1) {
                -webkit-animation-delay: 8s;
                        animation-delay: 8s;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            }
        }
        @-webkit-keyframes round {
            8% {
                opacity: 1;
                filter: alpha(opacity=100);
                /* 0 - 1秒 淡入*/
            }
            32% {
                opacity: 1;
                filter: alpha(opacity=100);
                /* 1- 4秒靜止*/
            }
            40% {
                opacity: 0;
                filter: alpha(opacity=0);
                /* 4-5秒淡出*/
            }
        }
        @keyframes round {
            8% {
                opacity: 1;
                filter: alpha(opacity=100);
                /* 0 - 1秒 淡入*/
            }
            32% {
                opacity: 1;
                filter: alpha(opacity=100);
                /* 1- 5秒靜止*/
            }
            40% {
                opacity: 0;
                filter: alpha(opacity=0);
                /* 5-6秒淡出*/
            }
        }

        // about info
        .aboutInt{
            margin: 20px;
            padding-bottom: 8px;
            font-size: 24px;
            text-align: center;
            border-bottom: 1px solid $subClrGY;
        }

        // join user
        .joinUserTitle{
            margin-left: 20px;
            font-size: 18px;
            color: $subClrBrown;
            padding: 0 10px;
            border-left: 5px solid $subClrBrown;
        }
        .joinSlide{
            margin: 0 auto;
            max-width: 925px;
            position: relative;
            .sliderLeft{
                @include slide(-60px);
                left: 0;
            }
            .sliderRight{        
                @include slide(60px);
                right: 0;
            }
            .joinContainer{
            max-width: 925px;
            margin: 0 auto;
            align-items: center;
            position: relative;
            overflow: hidden;
            .slide{
                position: relative;
                width: 2600px;
                // transform: translateX(-925px);
            }
        }
        }
        
        // product slider
        .productTitle{
            font-size: 18px;
            margin: 70px 20px -20px ;
            color: $focusClrB;
        }
        // place slider
        .placeTitle{
            max-width: 1375px;
            font-size: 18px;
            margin: 70px 20px -20px;
            color: $focusClrB;
        }
    }
}


  
  
  
  
  
