@import '../variable';

.mapMainContain {
  position: relative;
  color: $contentClr;
  .mapContain {
    display: flex;
    justify-content: center;
    .leaflet-container {
      height: calc(100vh - $headerHeight);
      width: 1500px;
      z-index: 2;
      .map {
        height: 100%;
        width: 100%;
      }
    }
  }
  .linkBtn {
    z-index: 20;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: $text32;
    color: $focusClrY;
    background: $mainClrW;
    border: 6px solid $focusClrY;
    padding: 15px 35px;
    transition: 0.4s ease;
    &:hover {
      background: $focusClrY;
      border: 6px solid $mainClrW;
      color: $mainClrW;
    }
  }
  &::before {
    content: '';
    position: absolute;
    width: 1500px;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background: rgba(68, 68, 68, 0.597);
    margin: 0 auto;
  }
}

@media screen and (max-width: 375px) {
  .mapMainContain {
    .mapContain {
      .leaflet-container {
        height: 300px;
        width: 337.5px;
        margin-bottom: 40px;
      }
    }
    .linkBtn {
      transform: translate(-50%, -90%);
      font-size: $contentText;
      padding: 6px 8px;
      border: 4px solid $focusClrY;
    }
    &::before {
      width: 337.5px;
      height: 300px;
    }
  }
}
