
.account {
  width: 70%;
  border: 1px solid #000;
  margin: 60px auto;
  position: relative;
  display: flex;
  border-radius: 10px;
  font-size: 16px;
  justify-content: center;
  padding: 50px;
  box-shadow: 5px 5px 10px 5px #ccc;
  .userTitle{
    font-weight: bold;
    line-height: 2rem;
  }
  .username{
    line-height: 0rem;
  }
  .information {
    .userData {
      display: flex;
      align-items: center;
    }
    .datatextarea{
      align-items: start;
    }
    .intro {
      padding:4px 0 0 0;
      width: 180px;
      height: 50px;
      resize: none;
      border: 0;
      &::-webkit-scrollbar {
        //滾動條的寬度
        width: 5px;
        height: 3px;
      }
      &::-webkit-scrollbar-thumb {
        //滾動條的設定
        background-color: #817161;
        background-clip: padding-box;
        border-radius: 3px;
      }
      &:focus {
        outline: none;
      }
    }
    
  }
  .edit {
    position: absolute;
    right: 20px;
    top: 5px;
    color: #221e73;
    display: flex;
    padding: 0;
    cursor: pointer;
    
    i{
      position: relative;
      opacity: 0;
      right: 10px;
      transition: .3s;
    }
    &:hover{
      i{
        opacity: 1;
        right: 0px;
      }
    }
        
  }
  .avata-group {
    text-align: center;    
    margin:10px 60px 0 -10px;    
  }
  .avata {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid #817161;
    
    background: #fff;
    margin-bottom: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      vertical-align: middle;
      border-style: none;
    }
  }}
 

  .account_Edit{ 
    margin: 80px auto;
    display: flex;    
    justify-content:flex-end;
    width: 70%;
    border: 3px dashed #817161;
    padding: 20px;
    position: relative;
    
    p{
      margin: 0;
    }
   input,textarea,select{ 
    &:focus {
    outline: none;
      }
    }   
    input[type='text'],input[type='date'],select,textarea{
      padding: 0 3px; 
      border-radius: 5px;  
      height: 24px;  
      border: 1px solid ;
    }
    select{
      margin-right: 5px;
    }
    .avata {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      border: 2px solid #817161;
      background: #fff;
      margin-bottom: 20px;
      span{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.172);
        color: #fff;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;        
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        vertical-align: middle;
        // border-style: none;
      }
    }
    .photo{
     display: none;
     }
    
     .userData{
       margin:10px 0; }
      
     .intro{
      padding:0 5px;
      width: 200px;
      height: 120px;
      resize: none;
      vertical-align:text-top;
      margin-left: 10px;          
     }
     .avatarGroup{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: 100px;
     }
   .btnGroup {
    margin-top: 80px;
    .editbtn{
      padding: 5px 10px;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(1);
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 5);
      }
    }
    .saveBtn{
      margin-right: 30px;
      background:#817161;
      color: #fff;
      border: 0;   
      border-radius: 5px;  
    }
    .exitBtn{
      margin-right: 30px;
      border:#817161 2px solid;
      background: #fff; 
      border-radius: 5px;  
      &:active {
        border: 1px solid #ccc;
      }
    }    
   }
   .namegroup{
    position: relative;
   }
   .fa-circle-xmark{
    color: rgb(247, 82, 82);
    font-size: 16px;      
    position: absolute;
    right:-15px;
    top: 4px;
   }
   .error-text{
    font-size: 14px;
    position: absolute;      
    display: flex;
    align-items: center;
    color: rgb(247, 82, 82);
    right: -60px;
    top: 0px;
   }
  }