@import '../../variable';
@mixin titleBtn {
  padding:5px 10px;
  border-radius: 10px; 
  background: $subClrBrown;
  color:#fff; 
  width: 50%;  
}

.order{
  .order-filter{
     margin-top: 80px;
    li{      
      text-align: center;          
      color: black;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;      
      cursor: pointer;  
      div{
        &:hover {         
          transform: scale(1.05);
          @include titleBtn()
        
        }
        &:active {
          transform: scale(1);
          box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 2);
          @include titleBtn()
        }  
      }  
 
    }
    .active{    
      div{
        padding:5px 10px;
        border-radius: 10px; 
        background: $subClrBrown;
        color:#fff; 
        width: 50%;              
      }
      
    }
  }  
  .order-table{
    table{
      text-align: center;
      width: 100%;      
      line-height: 3rem;
    }
    th,td{
      vertical-align: middle;
      text-align: center;}
    .icons{
      margin-top: 150px;     
      p{font-size: 2rem;}
      position: relative;
      text-align: center;
      .order-icon{
        // position: absolute;
        width: 25%;
        height: 100%;
        margin-top:-20px;
      }     
    } 
    button{
      padding:5px;
      background:$focusClrG;
      color: #fff;
      border: 0;   
      border-radius: 5px;  
      line-height: 1.5rem;
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(1);
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 2);
      }
    }   
  }
}