@import '../../variable';
@import '../mixin';
.order{
  .order-filter{
    display: flex;
    justify-content:flex-start;
    padding: 0;
    margin-top: 50px;
    
    @media (max-width: 768px) {
      button{
        width: 80px;
        margin: 5px 0;
      } 
      margin-top: 30px;
      flex-wrap: wrap
    }    
    
    .list{      
      text-align: center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin:0 10px;
      button{      
      @include titleBtn();
      background-color: #fff; 
      color: black;  
      &:hover{
        background:$subClrBrown;
        color: #fff; 
      }           
      }  
      .active{        
        background:$subClrBrown;
        color: #fff; 
        
     }
    }    
  }
  
 .order-table{
  tr{
    line-height: 3rem;
    text-align: center;
  }
  button{
    line-height: 1rem;
    @include listBtn();
    @include click();
  }
  .icon{
    font-size: 18px;
    cursor: pointer;
    @include click();
  }
  @media (max-width: 768px) {
    .campingImgfrme{
      width:100%;
      padding: 0;
      .campingImg{
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
     }
    table, thead, tbody, th, td, tr {
      display: block;   
    }		
    thead tr {
     display: none;
    }
    tr {
      margin: 0 0 1rem 0;
      border:1px solid #ccc; 
    } 
    td {			
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left:100px;
    }
  
    td:before {		
      position: absolute;		
      top: 5px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }  
    td:nth-of-type(1):before { content: "訂單編號："; }
    td:nth-of-type(2):before { content: "訂單金額："; }
    td:nth-of-type(3):before { content: "訂單狀態："; }
    td:nth-of-type(4):before { content: "訂單日期："; }
    td:nth-of-type(5):before { content: "支付方式："; }
    td:nth-of-type(6):before { content: "運送方式："; }
    td:nth-of-type(7):before { content: "訂單詳情："; }
   }
 }
}
.orderDetail{
  .orderDetail-title{
    font-size: 32px;
    line-height: 1.5rem;
    border-left: 8px solid $subClrBrown;
    padding: 10px 0 0 10px;
    margin-bottom: 20px;   
  }
  h3{
    border:0px !important;
  }
  .summary{
    text-align: right;
  }
  .orderData{
    border-top: 1px solid #ccc;
    text-align: right;
    .orderData-title{
      text-align: center;
    }
  }
}