@import '../variable';

.calendarContainer{
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}
a, a:visited, a:hover, a:active {
  color: $contentClr;
}
.fc-scrollgrid-sync-inner > a {
  color: $subClrBrown;
}

.fc-event-time {
 color: $focusClrG;
}
.fc-direction-ltr  .fc-daygrid-event {
  color: $focusClrG;

}
.fc-daygrid-event-dot {
  border: 4px solid $focusClrY;
}
.fc-h-event .fc-event-title-container {
  background: #817161f4;
  border: 0px ;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  // background: $mainClrW;
}
.fc-daygrid-dot-event .fc-event-title {
  text-align: justify;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.fc .fc-button-primary {
  background: $subClrBrown;
  &:hover ,
  &:active{
    background: $subClrBrown;
    box-shadow: 0px 0px 3px $subClrGY;
  }
}
.fc-toolbar-title {
  color: $subClrBrown;
  text-shadow: .5px .5px 2px $subClrGY;
}
.fc .fc-daygrid-day-frame {
  min-height: 80px;
}
.fc-h-event {
  border: 1px dashed $focusClrY;
  border: 1px solid $focusClrY;
  background-color: $focusClrY;
  background-color: $focusClrY;
}
.fc .fc-button{
padding: 5px;
}
.fc .fc-col-header-cell-cushion{
  font-size: 14px;
  padding: 2px 4px;
}
.fc .fc-daygrid-day-number{
  font-size: 14px;
  padding: 4px;
}
.addCalendarInput{
  display: flex;
  margin: 20px auto;
  align-items: center;
  justify-content: space-around;
  .inputContent{
    border-radius: 8px;
    border: 2px dotted $focusClrY;
    padding: 6px 30px;
    height: 200px;
    margin-top: 26px;
    .addTitle{
      font-size: $contentText;
      padding-bottom: 4px;
      border-bottom: 1px solid $subClrGY;
      color: $subClrBrown;
      text-align: center;
    }
    .postInput{
      width: 170px;
      height: 30px;
      padding: 2px;
      border: 2px solid $subClrGY;
      outline: none;
      &:focus{
        border: 2px solid $subClrBrown;
      }
    }
    .postBtn{
      border: 0;
      border-radius: 4px;
      padding: 2px 12px;
      font-size: $contentText;
      color: $mainClrW;
      background: $focusClrY;
      margin-top: 6px;
    }
  }
}

.listTitle{
  font-size: $text14;
  margin-bottom: 3px;
}

.detail{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  border: 2px solid $focusClrY;
  border-radius: 8px;
  width: 450px;
  height: 200px;
  overflow-y: auto;
  padding: 7px 30px;
  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $subClrBrown;
  }
  .detailContent{
    display: flex;
    align-items: center;
    margin: 3px 0;
    .num{
      font-size: 12px;
      background: $focusClrG;
      border-radius: 50%;
      width: 18px;
      height: 18px;
      text-align: center;
      color: $mainClrW;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        width: 3px;
        height: 18px;
        top: 0;
        right: -10px;
        background: $focusClrG;
      }
    }
    .listContent{
      background-color: $subClrGY;
      color: $mainClrW;
      border-radius: 10px;
      padding: 0 6px;
      font-size: 12px;
    }
  }
  
}

@media (max-width: 500px) {
  .addCalendarInput{
    flex-direction: column;
  }
  .listTitle{
    margin-top: 30px;
  }
  .detail{
    width: 370px;
    height: 200px;
    padding: 7px;
    &::-webkit-scrollbar {
      width: 2px;
      background-color: #f5f5f5;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #F2AC33;
    }
    .detailContent{
      .listContent{
        background-color: $subClrGY;
        color: $mainClrW;
        border-radius: 10px;
        padding: 0 6px;
        font-size: 12px;
      }
      .detailText{
        font-size: $text12;
      }
    }
  }
  button .fc-prev-button .fc-button .fc-button-primary{
    padding: 4px !important;
    width: 30px;
    height: 30px;
  }
  .fc .fc-col-header-cell-cushion{
    font-size: 12px;
    padding: 0px;
  }
  .fc .fc-daygrid-day-number{
    font-size: 12px;
    padding: 0px;
  }
}