@import '../variable';

// Layout

.cartPage{
  margin: $headerHeight auto 8rem;
  max-width: 1200px;
  padding:3rem 2rem;
  color:$contentClr;

  .cartNull{
    color:$subClrGY;
    h2{
      margin: 0;
      color: #444;
    }
    .goShop{
      border: 2px solid $subClrBrown;
      // color: $subClrBrown !important;
      text-align: center;
      padding: 0.5rem 2rem;
      background: #fff;
      border-radius: 4px;
      cursor: pointer;
      &:hover{
        // background: $subClrBrown;
        color: $subClrBrown;
      }
    }
  }

  .summary{
    // max-width: 1000px;
    margin: 0 1rem 2rem;
    line-height: 2rem;
    // padding: 0 0.5rem;
    text-align: end;
    .row{
      --bs-gutter-x:0;
    }
    input,select{
      text-align: end;
      width: 100%;
      padding: 4px;
      font-size: $text14;
      line-height: 1rem;
      // background-color: #fff;
      border: 1px solid $subClrGY;
      border-radius: 3px;
      &:focus{
        // outline: none;
        outline: 1.5px solid $subClrBrown;
        &::placeholder {
          color: transparent;
        }
        // border:1px solid $focusClrB;
      }
    }

  }

  .payment{
    padding: 1rem;
    box-shadow:0px 0px 5px $subClrGY;
    margin-bottom: 2rem;

    p{
      margin: 0;
    }

    .cCardLayout{
      max-width: 1000px;
      box-shadow:0px 0px 5px $subClrGY; 
      padding: .5rem;
      margin: 2rem auto;
      // position:relative;
      .row{
        --bs-gutter-x:0;
      }


      .cardInput{
      //   .row{
      //   --bs-gutter-x:0;
      // }
    
      input,select{
        // display: block;
        // text-align: center;
        width: 100%;
        padding: 4px;
        font-size: $text14;
        line-height: 1.5rem;
        // background-color: #fff;
        border: 1px solid $subClrGY;
        border-radius: 3px;
        &:focus{
          // outline: none;
          outline: 1.5px solid $subClrBrown;
          &::placeholder {
            color: transparent;
          }
          // border:1px solid $focusClrB;
        }
      }
      }
      
      @media screen and (max-width: 440px) {
        .flex-direction-reverse{
          flex-direction: column-reverse !important;
        }
      }
      
    }
  }

  .recipient{
    box-shadow:0px 0px 5px $subClrGY; 
    padding: 1rem;
    margin-bottom: 2rem;

    .recipientInfo{
      max-width: 600px;
      margin: 0 auto;
      input, select, textarea{
        // display: block;
        width: 100%;
        padding: 4px;
        // font-size: $text14;
        // line-height: 1.5rem;
        // background-color: #fff;
        border: 1px solid $subClrGY;
        border-radius: 4px;
        &:focus{
          // outline: none;
          outline: 1.5px solid $subClrBrown;
          &::placeholder {
            color: transparent;
          }
          // border:1px solid $focusClrB;
      }
      }

      p{
        padding: 0 2px;
        margin-bottom: 0;
      }
      
      .address{
        .row{
          --bs-gutter-x:0;
        }
        @media (max-width: 440px) {
          font-size: $text12;
      }
      }
      
        
      
    }


    
    textarea {
      resize: none;
      height: 100px;
    }
  }

  .orderCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:0px 0px 5px $subClrGY; 
    padding: 1rem;
    .stepWrapper{
      margin: 0;
      padding: .5rem 0;
    }
    .orderStepBtns{
      padding: .5rem 0;
    }
    p{
      margin: 0;
    }
  }
  // stepButton
  .orderStepBtns{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 2rem 0;
  
    .stepBtn{
      max-width: 200px;
      width: 50%;
      border: 2px solid $subClrBrown;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .nextButton{
      background-color: $subClrBrown;
      color: white;
      &:hover{
        background-color: white;
        color: $subClrBrown;
      }
    }
    
    .prevButton{
      background-color: white;
      &:hover{
        color: $subClrBrown;
      }
    }
  
  }
}
