@import '../variable';

// Layout

.cartPage{
  margin: $headerHeight auto 8rem;
  max-width: 1200px;
  padding:3rem 2rem;
  color:$contentClr;

  .summary{
    margin-bottom: 2rem;
    line-height: 2rem;
    padding: 1rem 2rem ;
    .row{
      --bs-gutter-x:0;
    }
  }

  .summaryex{
    max-width: 1200;
    margin: 2rem auto;
    box-shadow:0px 0px 5px $subClrGY;

    .row{
      --bs-gutter-x:0;
    }
  }

  .payment{
    padding: 1rem;
    box-shadow:0px 0px 5px $subClrGY;
    margin-bottom: 2rem;

    p{
      margin: 0;
    }

    .cCardLayout{
      max-width: 1000px;
      box-shadow:0px 0px 5px $subClrGY; 
      padding: .5rem;
      margin: 2rem auto;
      .row{    
        --bs-gutter-x:0;
    
        .col img{
          max-width: 100%;
        } 
      }
    
      .cCardInput{
        // display: block;
        // text-align: center;
        width: 100%;
        padding: 4px;
        font-size: $text14;
        line-height: 1.5rem;
        // background-color: #fff;
        border: 1px solid $subClrGY;
        border-radius: 3px;
        &:focus{
          // outline: none;
          outline: 1.5px solid $subClrBrown;
          &::placeholder {
            color: transparent;
          }
          // border:1px solid $focusClrB;
        }
      }
    }
  }

  .recipient{
    box-shadow:0px 0px 5px $subClrGY; 
    padding: 1rem;
    margin-bottom: 2rem;

    .recipientInfo{
      max-width: 600px;
      margin: 0 auto;
    }


    .recipientInput{
      // display: block;
      width: 100%;
      padding: 4px;
      // font-size: $text14;
      line-height: 1.5rem;
      // background-color: #fff;
      border: 1px solid $subClrGY;
      border-radius: 4px;
      &:focus{
        // outline: none;
        outline: 1.5px solid $subClrBrown;
        &::placeholder {
          color: transparent;
        }
        // border:1px solid $focusClrB;
      }
    }

    textarea {
      resize: none;
      height: 100px;
    }
  }

  .orderCheck{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow:0px 0px 5px $subClrGY; 
    padding: 1rem;
    .stepWrapper{
      margin: 0;
      padding: .5rem 0;
    }
    .orderStepBtns{
      padding: .5rem 0;
    }
    p{
      margin: 0;
    }
  }
  // stepButton
  .orderStepBtns{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 2rem 0;
  
    .stepBtn{
      max-width: 200px;
      width: 50%;
      border: 2px solid $subClrBrown;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .nextButton{
      background-color: $subClrBrown;
      color: white;
      &:hover{
        background-color: white;
        color: $subClrBrown;
      }
    }
    
    .prevButton{
      background-color: white;
      &:hover{
        color: $subClrBrown;
      }
    }
  
  }
}
