@import '../variable';

// Layout

.cartPage{
  margin: $headerHeight auto 8rem;
  max-width: 1200px;
  padding:3rem 2rem;
  color:$contentClr;

  .summary{
    margin-bottom: 2rem;
    line-height: 2rem;
    .row{
      --bs-gutter-x:0;
    }
  }

  // stepButton
  .orderStepBtns{
    display: flex;
    flex-direction:row;
    justify-content: center;
    padding: 2rem 0;
  
    .stepBtn{
      max-width: 300px;
      width: 50%;
      margin: 0 .5rem;
      border: 2px solid $subClrBrown;
      border-radius: 4px;
      cursor: pointer;
    }
  
    .nextButton{
      background-color: $subClrBrown;
      color: white;
      &:hover{
        background-color: white;
        color: $subClrBrown;
      }
    }
    
    .prevButton{
      background-color: white;
      &:hover{
        color: $subClrBrown;
      }
    }
  
  }
}
