@import '../variable';



.orderList{
  text-align: center;
  padding: 0 0.5rem;
  margin-bottom: 2rem;
  box-shadow:0px 0px 5px $subClrGY; 

  .row{
    margin:0;

    .col img{
      max-width: 100%;
    }
  }

  .listTitle{
    align-items: center;
    line-height: 2rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid $subClrGY;
  }

  .orderItem{
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid $subClrGY;

    .counter {
      padding: 0 1rem;
      display: flex;
    
      .counterButton {
        align-items: center;
        display: flex;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border:1px solid $subClrGY;
        border-radius: 4px;
        background-color: #fff;
        
      }
    
      .counterContent {
        flex: 1;
        .counterInput {
          height: 100%;
          width: 100%;
          text-align: center;
          border:none;
          &:focus{
            outline:none;
          }
        }
      }
    
      
    }
  }

  .listInfo{
    align-items: center;
    line-height: 2rem;
    padding: 0.5rem 0;
  }

  .fix{
    position: absolute;
    right:32px;
    bottom: 0;
  }

}











