@import '../variable';

// StepNavigation 步驟條
.stepWrapper{
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;

  .stepBlock{
    text-align: center;

    
    .circleWrapper{
      padding: 0px 3rem; //調整step 間距
      position: relative;
      margin-bottom: .5rem;


      .circle{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 70px;
        height: 70px;
        border:2px solid $subClrBrown;
        background-color: $subClrBrown;
        border-radius: 50%;
      }
    }

    &.selected .circle{
      background-color: #fff;
    }
  }

}

.stepBlock:not(:last-child) > .circleWrapper::after{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top:0px;
  bottom:0px;
  background-color: $subClrBrown;
  margin: auto;
  z-index:-1;
}

.stepBlock:not(:last-child) > .circleWrapper::after{
  // 選取的Step 前面的線高
  height: 3px;
  opacity: .5;
}

.stepBlock:not(:last-child).selected > .circleWrapper::after, .stepBlock:not(:last-child).selected ~ .stepBlock:not(:last-child) > .circleWrapper::after{
  // 選取的Step 後面的線高
  height: 2px;
}

