.accordion {
  width: 500px;
  margin: 0px auto;
  border: 1px solid #ccc;
  }
  .title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background: #ccc;
  border-top: 1px solid #fff;
  }
  .content-box {
  background: rgb(250, 245, 245);
  padding: 0px 10px;
  overflow: hidden;
  height: 0px;
  transition: .5s;
  }
  .content-box p:last-child {
  text-align: right;
  }