@import '../../variable';

.forgot{  
  width: 100%;
  height: 100vh;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    font-size: 3rem;
    background: $subClrBrown;
    padding: 10px;
    color: #fff;
  }
  .inner{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    background: #fff;
    
  } 
  
      
    input{
      text-align: center;
      width: 200px;
      margin:0 auto;
      &:focus{
        outline: none;
      }
    }
   
    .forgotbtn{
      >button{
        border-radius: 50px;
        padding: 2px 30px;
        background: $subClrBrown;
        color: #fff;
        border: 0;
        margin: 20px 10px;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(1);   
        }          
    }
    .exitBtn{
      margin-right: 10px;
      background: #fff;
      color: #000;
      border: 1px solid $subClrBrown;
    }
   
  }
  .password-group{
    position: relative;
    input{
      padding: 0 2px;
      text-align:start;
      width: 200px;
      margin:20px auto;
      
      &:focus{
        outline: none;
      }
    }
  }
  .fa-circle-xmark{
    color: rgb(247, 82, 82);
    font-size: 16px;      
    position: absolute;
    left:200px;
    top:50px;
   }
   .error-text{
    font-size: 14px;
    position: absolute;      
    display: flex;
    align-items: center;
    color: rgb(247, 82, 82);
    left:220px;
    top: 45px;
   }
   .eyegroup{
    position: absolute; 
    left: 370px;
    top:20px; 
    width: 30px;
    height: 30px;
  }
  
}





