@import './variable';

.header {
  color: $contentClr;
  height: $headerHeight;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 2px solid $hoverClr;
  transition: 0.3s;
  top: 0;
  left: 0;
  //flex
  display: flex;

  align-items: center;
  z-index: 50;
  background: #fff;
  // justify-content: space-between;
  .headerTitle {
    max-width: 350px;
    flex-grow: 1;
    margin: 0;
    h1 {
      color: $subClrBrown;
    }
  }
  //navbar
  nav {
    flex-grow: 1;
  }
  .nav {
    display: flex;
    gap: 1.5rem;
    li {
      font-size: 20px;
      cursor: pointer;
      a {
        opacity: 0.6;
        transition: 0.5s;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 3px;
          left: 50%;
          bottom: -5px;
          transition: 0.5s;
        }
        &:hover::after,
        &.active::after {
          width: 100%;
          left: 0;
          background: $subClrBrown;
          color: $subClrBrown;
        }
        &.active {
          color: $subClrBrown;
          opacity: 1;
        }
      }

      &:hover a {
        opacity: 1;
        color: $subClrBrown;
      }
    }
  }
  //user
  .user {
    max-width: 350px;
    flex-grow: 1;
    font-size: 1.25rem;
    // overflow: hidden;
    justify-content: flex-end;
    .userItem {
      //SHOP
      .headerShop {
        border-left: 2px solid $contentClr;
      }
      // each icon
      .headerIcon {
        transition: 0.3s;
        &:hover,
        &:hover svg,
        &:hover span {
          color: $subClrBrown !important;
        }
        .span {
          transition: 0.5s;
        }
      }
      // login, signup btn
      .headerSignUpBtn {
        background: $subClrBrown;
        border: 2px solid transparent;
        color: #fff;
        &:hover {
          color: $subClrBrown;
          background: #fff;
          border-color: $subClrBrown;
        }
      }
      .headerLoginBtn {
        color: $subClrBrown;
        background: #fff;
        border: 2px solid $subClrBrown;
        &:hover {
          color: #fff;
          background: $subClrBrown;
        }
      }
      // Login State
      &.headerLoginState {
        .headerAvator {
          width: 40px;
          max-width: 40px;
          height: 40px;
          max-height: 40px;
          border-radius: 50%;
          border: 2px solid $subClrBrown;
          background: $hoverClr;
          padding: 0.1rem;
        }
        .headerUserControl {
          width: 100px;
          background: #fff;
          box-shadow: 0px 0px 1.7px rgb(0 0 0 / 50%);
          transition: 0.5;
          li {
            width: 100%;
            text-align: center;
            cursor: pointer;
            border-bottom: 1px solid $subClrGY;
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              background: $hoverClr;
            }
          }
        }
      }
    }
  }
  &.hidden {
    transform: translateY(-$headerHeight);
    color: rgba(0, 0, 0, 0.363);
  }

  // Search section
  .headerSearchSection {
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    height: calc(100vh + $headerHeight);
    width: 100vw;
    overflow: hidden;
    .headerSearch {
      max-height: 60%;
      width: 35%;
      margin-top: 10%;
      // Search input
      input {
        border: 2px solid $subClrBrown;
        padding-left: 3.5rem;
        padding: 0.75rem 0 0.75rem 3.25rem;
        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }
      // Result text
      .headerSearchTitle {
        color: $subClrBrown;
      }
      .headerSearchResult {
        border: 1px solid $subClrGY;
        li {
          border-bottom: 1px solid $subClrGY;
          padding: 0.75rem 1rem;
          &:last-child {
            border: none;
          }
          &:hover {
            background: $subClrBrown;
            color: #fff;
          }
        }
      }
    }
  }
}
