@import 'variable';

.headerSearchSection {
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  height: calc(100vh + $headerHeight);
  width: 100vw;
  color: $contentClr;
  .headerSearch {
    max-height: 60%;
    max-width: 500px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;

    // Search input
    .headerSearchInput {
      input {
        border: 2px solid $subClrBrown;
        padding-left: 3.5rem;
        padding: 0.75rem 0 0.75rem 3.25rem;
        &:focus {
          outline: none;
          &::placeholder {
            color: transparent;
          }
        }
      }
      .headerSearchIcon {
        left: 2rem;
      }
    }
    .searchResultContainer {
      overflow: auto;
      &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar {
        width: 7px;
        background-color: #f5f5f5;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #555;
      }
      // Result text
      .headerSearchTitle {
        color: $subClrBrown;
      }
      .headerSearchResultTitle {
        color: $subClrBrown;
      }
      .headerSearchResult {
        border: 1px solid $subClrGY;
        overflow: hidden;
        a {
          border-bottom: 1px solid $subClrGY;
          padding: 0.75rem 1rem;
          &:last-child {
            border: none;
          }
          &:hover {
            background: $subClrBrown;
            color: #fff;
          }
        }
      }
    }
  }
}
