@import './variable';

.homepageContainer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 8rem;
}

.homepage {
  padding: 4.5rem 0;
  .newsContainer,
  .productContainer,
  .recipeContainer,
  .activityContainer {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .recipeCard {
    margin: 2rem 0;
    overflow-x: hidden;
    .slick-slide {
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
    .slick-current {
      opacity: 1;
    }
  }
}
