@import './variable';

.homepageContainer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: #fff;
  padding: 0 2.5rem;
}

.homepage {
  padding: 4.5rem 0;
  .newsContainer,
  .productContainer,
  .recipeContainer,
  .activityContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
}
