@import './variable';

.homepageContainer {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 8rem;
}

.homepage {
  padding: 4.5rem 0;
  .hPnewsContainer,
  .hPproductContainer,
  .hPrecipeContainer,
  .hPactivityContainer {
    max-width: 1200px;
    padding: 0 2rem;
    margin: 0 auto;
  }
  .recipeCard {
    margin: 2rem 0;
    overflow-x: hidden;
    .slick-slide {
      opacity: 0.5;
      transition: 0.3s;
      &:hover {
        opacity: 1;
      }
    }
    .slick-current {
      opacity: 1;
    }
  }

  .separateLine {
    width: 100vw;
    height: 1px;
    background: $hoverClr;
    margin: 5rem 0;
  }
}
