@import './variable';
$newsTextClr: #8c8c8c;
$newsBgClr: #f2f2f2;

.newsPage {
  position: relative;
  top: $headerHeight;
  margin: 0 auto 5rem;
  max-width: 1200px;
  padding: 4rem 2rem 8rem;
  color: $contentClr;
  // news title
  .title {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 5px;
      height: 5px;
      width: 2rem;
      background: $subClrBrown;
    }
    .en {
      font-size: 2.5rem;
    }
    .ch {
      color: $subClrBrown;
      font-weight: bold;
    }
  }
  // main content
  .news {
    margin-top: 2rem;
    // each news item
    .newsItem {
      display: grid;
      grid-template-columns: minmax(142px, 1fr) 7fr;
      position: sticky;
      top: 0;
      @media (max-width: 500px) {
        grid-template-columns: minmax(125px, 1fr) 7fr;
      }
      .yearMonth {
        border-right: 1px solid $subClrGY;
        border-top: 1px solid $subClrGY;
        font-size: 2rem;
        @media (max-width: 500px) {
          font-size: 1.5rem;
        }
      }
      .newMainContainer {
        flex: 1 1 auto;
        border-top: 1px solid $subClrGY;
        position: relative;
        &::before {
          position: absolute;
          content: '';
          left: 0;
          top: 50%;
          height: 0.5rem;
          width: 0.5rem;
          transform: translate(-50%, -50%);
          background: $subClrBrown;
        }
        .day {
          font-size: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .content {
          .type {
            display: inline-block;
            color: $newsTextClr;
            background: $newsBgClr;
            padding: 0.25rem 1.5rem;
            font-weight: bold;
            font-size: 0.75rem;
          }
          .text {
            font-size: $text14;
            &:hover {
              color: $subClrBrown;
            }
          }
        }
      }
    }
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: $contentClr;
    text-decoration: none;
  }
}
