@import './variable';

.pageRecipes {
  margin: $headerHeight auto 8rem;
  max-width: $maxWidth;
  padding: 3rem 2rem;
  color: $contentClr;
  position: relative;
  // recipe category btn
  .cateBtnContainer {
    overflow: hidden;
    position: relative;
    .recipesCateBtnGroup {
      padding-right: 1.2rem;
      display: flex;
      flex-wrap: nowrap;
      overflow: hidden;
      gap: 1rem;
      transition: 0.5s;
      height: fit-content;
      @media (max-width: 500px) {
        width: 100%;
        flex-wrap: nowrap;
        overflow-x: auto;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
    .rotate180 {
      transform: rotate(180deg);
    }
    @media (max-width: 1000px) {
      border-bottom: 1px solid $hoverClr;
      &:last-child {
        border: none;
      }
    }
  }
  .recipeToolBar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Search Bar
    .recipeSearchBar {
      display: flex;
      max-width: 600px;
      width: 100vw;
      .ant-select {
        border-right: none;
        @media (max-width: 500px) {
          width: 200px !important;
          border-right: 2px solid $subClrBrown;
        }
        .ant-select-selector,
        .ant-select-selector > * {
          border: none;
        }
      }
      * {
        border: 2px solid $subClrBrown;
      }
      .searchFor,
      .searchForName,
      .searchForMaterial {
        border-right: none;
      }
      .searchFor {
        padding: 0.2rem 0.75rem;
      }
      .searchForName,
      .searchForMaterial {
        padding-left: 0.5rem;
        color: $contentClr;
        flex: 1 1 auto;
        width: 100%;
        &:focus {
          outline: transparent;
        }
      }
      .searchForMaterial {
        @media (max-width: 500px) {
          display: none;
        }
      }
      .recipesSearchBtn {
        padding: 0 0.75rem;
        cursor: pointer;
        .RecipeSearchBtnSvg {
          border: none;
        }
        @media (max-width: 500px) {
          display: none;
        }
      }
    }

    // add recipe ... Btn
    .recipeFeatureBtn {
      display: flex;
      opacity: 0.5;
      font-size: $text12;
      gap: 1rem;
      .featureBtn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }
      @media (max-width: 790px) {
        position: absolute;
        top: 3rem;
        right: 2rem;
        gap: 0.5rem;
        span {
          font-size: 12px;
        }
        svg {
          width: 32px;
        }
      }
    }
  }

  // MAIN CONTAINER
  .recipeListMain {
    display: flex;
    .recipeList {
      padding: 2rem 0 0 2rem;
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      .recipeMainToolBar {
        display: flex;
        align-self: flex-end;
        .recipeModeBtn {
          &:hover {
            color: $subClrBrown;
          }
        }
        .recipeListMode,
        .recipeBlockMode {
          cursor: pointer;
          &.active {
            color: $subClrBrown;
          }
        }
      }

      // BlockMode
      .recipeBlockModeList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1.5rem 1rem;
        place-items: center;
      }
      @media (min-width: 1500px) {
        .recipeBlockModeList,
        .recipeListModeList {
          max-width: 1054px;
        }
      }

      @media (max-width: 1000px) {
        padding: 1rem 0 0 0;
      }
    }
  }
  .creatingRecipe {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
    @media (max-width: 900px) {
      background: #fff;
    }
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: $contentClr;
    text-decoration: none;
  }
}
