@import './variable';

.temp {
  height: 300vh;
}

//Html Element Style
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
.life {
  font-family: 'Bungee', cursive !important;
}
a,
a:visited,
a:hover,
a:active {
  color: $contentClr;
  text-decoration: none;
}

// public icon

.backToTopBtn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
}

//module

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
