@import '../variable';

.myRecipe {
  .title {
    border-left: 8px solid $subClrBrown;
    padding-left: 10px;
  }
  .racipeTable {
    .recipeImgContainer {
      max-width: 80px;
    }

    td {
      vertical-align: middle;
    }
  }
}

.rotate {
  transform: rotate(-180deg);
}
