@import '../variable';

.myRecipe {
  .title {
    border-left: 8px solid $subClrBrown;
    padding-left: 10px;
  }
  .racipeTable {
    .recipeImgContainer {
      max-width: 80px;
    }

    td {
      vertical-align: middle;
    }
  }
  .creatingRecipe {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 500;
  }
  .recipeIcon{
    a{
      margin: 0 10px; 
      color: #000 !important;    
    }
    i{
      margin:0 10px;
    }
  }
  @media (max-width: 768px) {  
    .racipeTable {
      .recipeImgContainer {
        max-width:100%; 
        padding: 10px;;       
      } 
      
    }
    table, thead, tbody, th, td, tr {
      display: block;   
    }		
    thead tr {
     display: none;
    }
    tr {
      margin: 0 0 1rem 0;
      border:1px solid #ccc; 
    } 
    td {			
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left:100px;
    }
  
    td:before {		
      position: absolute;		
      top: 5px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
    }  
    td:nth-of-type(2):before { content: "名稱："; }
    td:nth-of-type(3):before { content: "食譜分類："; }
    td:nth-of-type(4):before { content: "商品分類："; }
    td:nth-of-type(5):before { content: "收藏："; }
    td:nth-of-type(6):before { content: "留言："; }
    td:nth-of-type(7):before { content: "建立時間："; }
   }
}

.rotate {
  transform: rotate(-180deg);
}
