@import '../variable';
.order{
  .order-filter{
     
    li{
      padding: 5px;
      text-align: center;
      border-radius: 10px;     
      color: black;
      position: relative;
      cursor: pointer;
      // background: $subClrBrown;
      // color:#fff;
      &::after{
        content: "";
        position: absolute;
      }
    }
    .active{
      background: $subClrBrown;
      color:#fff;      
    }
  }  
  .order-table{
    table{
      text-align: center;
      width: 100%;
    }
    th,td{vertical-align: middle;
      text-align: center;}
    .icons{
      margin-top: 150px;     
      p{font-size: 2rem;}
      position: relative;
      text-align: center;
      .order-icon{
        // position: absolute;
        width: 25%;
        height: 100%;
        margin-top:-20px;
      }     
    } 
    button{
      padding:5px;
      background:$focusClrG;
      color: #fff;
      border: 0;   
      border-radius: 5px;  
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(1);
        box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 2);
      }
    }   
  }
}