@import '../variable';
@import './Users.scss';
.password{
  .password-group{
     position: relative;
     .eye{
        position: absolute; 
        left: 25%;
        top: 7%; 
        width: 20px;   
        height: 20px;  
      }
  }
  position: relative;
  label{
     vertical-align: top;
     margin-bottom: 30px;
    }
    input{       
     padding: 0 3px;    
     margin-bottom: 30px;
     border-radius: 5px;  
     height: 30px;  
   }
   a{
     margin-left: 10px;
     color: $focusClrB;
   }
   button{
     position: absolute;
     left: 100px;
     margin: auto;
     @include btn();
     &:hover{
        background:$subClrGY;         
       }
   }
}