@import '../variable';
.center{
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.points-group{
  .user-point{
    text-align: center;
    .box{
      border-radius: 30px;
      padding:20px 50px;
    }
    .box:nth-of-type(1){
      border: 3px solid $focusClrG;
    }
    .box:nth-of-type(2){
      border: 3px solid $focusClrY;
    }
    .box:nth-of-type(3){
      border: 3px solid $focusClrB;
    }
    .box-title{
      font-size: 1rem;
      font-weight: bold;
      line-height: 3rem;
      border-bottom: 1px solid #ccc;
    }
  }
}

.list{  
  .list-title{
    text-align: center;
    table{
      margin-top: 50px;
      thead{
        line-height: 4rem
      }
      tbody{
        line-height: 2.5rem;
      }
    };
  }
}