@import '../variable';

.signup{ 
    width: 100%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: #fff;
    padding: 0 26%; 
    transition: all .3s;
    font-size: 24px;
    @media (max-width: 768px) {
      padding:0 15%;   
    }
    @media (max-width: 600px) {
      padding:0 10%;   
    }
    .signup-group{
      width: 100%;
      padding: 5px;
      margin-bottom: 40px;     
      display: flex;
      position: relative;
    }
    .signup-input{
      border-bottom: 2px solid #fff;
    }
    .input{
     border:0; 
     background:transparent;
     padding:0 20px ;
     font-size: 16px;
     width: 100%;
        &:focus{
      outline: none;
     }    
    }
    .siginupBtn{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px 0;
      button{
        width: 30%;
        background:#817161e3;
        border-radius: 5px;
        border: 0;
        &:hover {
          transform: scale(1.05);
        }
        &:active {
          transform: scale(1);
          box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 2);
        }
      }      
     }
     
     .fa-circle-xmark{
      color: rgb(247, 82, 82);
      font-size: 16px;      
      position: absolute;
      right:-20px;
      top: 10px;
     }
     .error-text{
      font-size: 14px;
      position: absolute;      
      display: flex;
      align-items: center;
      color: rgb(247, 82, 82);
      left: 45px;
      top: 40px;
    }
    .eyegroup{
      position: absolute;
      right: 5px;
      top: -5px;       
    }    
     
}