@import '../../variable';

@mixin filterTitle {
    font-size: 20px;
    border-bottom: 3px solid $subClrBrown;
    padding-bottom: 7px;
    width: 80%;
}
@mixin buttonHover {
    box-shadow: .2px .2px 6px rgba(0, 0, 0, 0.5);
}
.body{
    position: relative;
}
.m-view{
    display: none;
}
.activityPage{
    margin: 0 auto $headerHeight;
    color: $contentClr;
    .banner{
        top: $headerHeight;
        position: relative;
        height: 700px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .main{
        max-width: $maxWidth;
        margin: 0 auto ;
        position: relative;
        top: $headerHeight;
        .breadCrumb{
            padding: 10px 0;
            font-size: $contentText;
        }
        .contain{
            margin-top: 40px;
            // 左側篩選
            .activityState{
                margin-bottom: 40px;
                .stateText{
                    @include filterTitle;
                }
                // 暫刪
                // .searchBtn{
                //     font-size: $contentText;
                //     border: none;
                //     border-radius: 20px;
                //     color: white;
                //     padding: 7px 10px;
                //     display: block;
                //     margin: 15px 0;
                //     margin-left: 15px;
                //     width: 100px;
                //     transition: .5s;
                //     &:hover{
                //         @include buttonHover;
                //     }
                // }
            }
            // 右側列表
            .changeBtn{
                cursor: pointer;
            }
            .searchInput{
                width: 160px;
                height: 32px;
                padding: 2px;
                border: 2px solid $subClrGY;
                outline: none;
                &:focus{
                border: 2px solid $subClrBrown;
                }
            }
        }
    }
}

@media screen and (max-width:375px) {
    .m-view{
        display: flex;
    }
    .p-view{
        display: none;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .activityPage{
        // margin: 0 auto $headerHeight;
        // color: $contentClr;
        .banner{
            // top: $headerHeight;
            // position: relative;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .main{
            max-width: 375px;
            // margin: 0 auto ;
            // position: relative;
            // top: $headerHeight;
            .breadCrumb{
                padding: 10px 0;
                font-size: $contentText;
            }
            .contain{
                margin-top: 15px;
                // 左側篩選
                .activityState{
                    // margin-bottom: 40px;
                    // display: flex;
                    .stateText{
                        text-align: center;
                        width: 100%;
                        // font-size: 20px;
                        // border-bottom: 3px solid $subClrBrown;
                        // padding-bottom: 7px;
                        
                    }
                    .rwdFlex{
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: start;
                        align-items: center;
                    }
                }
                // 右側列表
                .changeBtn{
                    cursor: pointer;
                }
                .searchInput{
                    width: 170px;
                    // height: 32px;
                    // padding: 2px;
                    // border: 2px solid $subClrGY;
                    // outline: none;
                    // &:focus{
                    // border: 2px solid $subClrBrown;
                    // }
                }
            }
        }
    }
}