@import '../../variable';

@mixin filterTitle {
    font-size: 20px;
    border-bottom: 3px solid $subClrBrown;
    padding-bottom: 7px;
    width: 80%;
}
@mixin buttonHover {
    box-shadow: .2px .2px 4px rgba(0, 0, 0, 0.5);
}

.activityPage{
    margin: 0 auto $headerHeight;
    color: $contentClr;
    .mb-view{
        display: none;
    }
    .banner{
        top: $headerHeight;
        position: relative;
        width: 100%;
        height: 700px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .main{
        max-width: $maxWidth;
        margin: 0 auto  100px;
        position: relative;
        top: $headerHeight;
        .breadCrumb{
            padding: 10px 0;
            font-size: $contentText;
        }
        .contain{
            margin-top: 40px;
            // 左側篩選
            .activityState{
                margin-bottom: 40px;
                .stateText{
                    @include filterTitle;
                    width: 80%;
                }
            }
            .createBtn{
                width: 80%;
                height: 40px;
                font-size: $contentText;
                color: $contentClr;
                text-decoration: none;
                border: 1px solid $subClrGY;
                color: $mainClrW;
                border-radius: 5px;
                background-color: $focusClrY;
                padding: 3px 14px;
                margin-top: 20px;
                transition: .5s;
                &:hover{
                    @include buttonHover;
                }

            }
            // 右側列表
            .changeBtn{
                cursor: pointer;
            }
            .searchInput{
                width: 160px;
                height: 32px;
                padding: 2px;
                border: 2px solid $subClrGY;
                outline: none;
                &:focus{
                border: 2px solid $subClrBrown;
                    
                }
            }
        }

    }
}

@media screen and (max-width:375px) {
    .activityPage{
        .mb-view{
            display: flex;
            flex-direction: column;
        }
        .pc-view{
            display: none;
        }
        .mb-flex{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-items: center;
        }
        .banner{
            width: 100%;
            top: -100px;
            // transform: translateY(-50px);
            img{
                object-fit: fill;
            }
            
        }
        .activityState{
            margin-bottom: 20px;
            .stateText{
                width: 100%;
                font-size: 16px;
                text-align: center;
            }
        }
        .iconGroup{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sortBar{
            width: 88%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;

        }
    }
    

}