@import '../variable';

$imgWidth: 270px;

.cardSm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: $contentClr;
  flex: 0 0 270px;
  .cardTitle {
    font-weight: bold;
    font-size: 1.25rem;
  }
  .imgContainer {
    margin: 0;
    max-width: $imgWidth;
    max-height: $imgWidth;
    // background: #f7f3ed;
    // background: #f6f2f7;
    // background: #fcf3f0;
    // background: #f7faf2;
  }

  .cardLink {
    font-size: $text14;

    .type {
      color: $subClrBrown;
      font-weight: bold;
    }
  }
}
