@import '../variable';
$newsTextClr: #8c8c8c;
$newsBgClr: #f2f2f2;

.newsContainer {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
  color: $contentClr;
  flex-wrap: wrap;
  border-bottom: 1px dashed $newsTextClr;
  &:last-child {
    border: 0;
  }
  &:hover {
    color: $subClrBrown;
    cursor: pointer;
  }
  .category {
    color: $newsTextClr;
    background: $newsBgClr;
    padding: 0.25rem 1.5rem;
    font-weight: bold;
  }
}
