@import '../variable';

.indexTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid $hoverClr;
}

.textContent {
  font-size: 32px;
  color: $contentClr;
  border-bottom: 2px solid $subClr;
  margin-bottom: -2px;
}

.title {
  font-weight: bold;
}
.subtitle {
  font-family: 'Kanit', sans-serif;
  margin-left: 1rem;
}
a.moreBtn {
  opacity: 0.5;
}
