.cloudy{
    flex-basis: 30%;
}

.cog{
    position: absolute;
    top: 25px;
    right: 15px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.remind{
    margin: 0 20px 30px;
    color: #1F9998;
    height: 22px;
}
