@import '../variable';

.tabsContainer {
  max-width: $maxWidth;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width:$rwdWidth) {
    width: $rwdWidth;
  }
  img {
    @media (max-width:$rwdWidth) {
      width: 100%;
    }
  }
}
.commentContainer {
  background: #e3e3e3;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
