@import '../variable';

@mixin avatar($margin) {
  margin: $margin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin figure($width) {
  width: $width;
  height: $width;
  border-radius: 50%;
  overflow: hidden;
}
@mixin img {
  width: 100%;
  object-fit: cover;
}
@mixin star($size, $color) {
  font-size: $size;
  margin: 0 2px;
  color: $color;
}

.typeArea {
  margin-bottom: 40px;
  .avatarArea {
    @include avatar(0 40px);
    figure {
      @include figure(80px);
      img {
        @include img();
        background: #afafaf;
      }
    }
    .star {
      @include star(1.4rem, $focusClrY)
    }
  }
  textarea {
    background: $mainClrW;
    color: $contentClr;
    border: none;
    padding: 20px;
    border-radius: 20px;
    resize: none;
    &::-webkit-input-placeholder {
      color: $contentClr;
    }
    &:focus {
      outline: transparent;
    }
  }
  button {
    background: #a0a0a0;
    color: $mainClrW;
    padding: 5px 22px;
    border: 3px solid #a0a0a000;
    border-radius: 20px;
    &:hover {
      background: #909090;
    }
  }
}
.commentArea {
  background: $mainClrW;
  padding: 25px;
  border-radius: 20px;
  margin: 15px auto;
  min-width: 600px;
  .avatar {
    @include avatar(0);
    display: flex;
    flex-direction: row;
    figure {
      @include figure(70px);
      margin: 0 10px;
      img {
        @include img();
        background: #afafaf;
      }
    }
    p {
      padding: 0;
      margin: 0;
      color: $contentClr;
    }
  }
  .date {
    color: #c5c5c5;
  }
  .comment {
    margin: 0 10px;
    max-width: 400px;
    p {
      margin: 0;
    }
  }
  .solid{
    @include star(1.2rem, $focusClrY)
  }
  .hollow {
    @include star(1.2rem, #c5c5c5)
  }
}
