@import '../variable';

$productImgWidth: 250px;
.productContainer {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .products {
    width: 350px;
    margin: 0 0 40px 0;
    padding: 0;
    .hoverArea {
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;
      .productHover {
        position: absolute;
        z-index: 1000;
        bottom: 0px;
        width: $productImgWidth;
        height: 40px;
        background: #000;
        opacity: 0.6;
        transform: translateY(40px);
        display: flex;
        justify-content: end;
        align-items: center;
      }
      &:hover .productHover {
        transform: translateY(0px);
        transition: 0.3s;
      }

      .productImg {
        position: relative;
        z-index: -1;
        width: $productImgWidth;
        height: 250px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .nameArea {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $hoverClr;
      font-size: $text14;
      padding-bottom: 10px;
    }
    .brandArea {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      margin-top: 10px;
    }
    p {
      margin: 0;
    }
  }
}
