@import '../variable';
// @import '/path__to__node_modules/@hawk-ui/magnifier/dist/index.min.css';

.infoContainer {
  max-width: $maxWidth;
  margin: $headerHeight auto;
  color: $contentClr;
  .breadCrumb {
    position: relative;
    top: 100px;
    left: 150px;
    @media (max-width: $rwdWidth) {
      top: 0;
      left: 0;
      margin: 10px 0 0 20px;
    }
  }
  .productInfo {
    margin: 200px auto;
    display: flex;
    justify-content: center;
    @media (max-width: $rwdWidth) {
      display: block;
      margin: 0 auto;
    }
    .picArea {
      // max-width: 50%;
      margin: 0 50px;
      @media (max-width: $rwdWidth) {
        margin: 0 auto;
      }
      .mainPic {
        width: 400px;
        height: 400px;
        overflow: hidden;
        padding: 0;
        margin: 0 auto;
        display: flex;
        align-items: center;
        @media (max-width: $rwdWidth) {
          width: 300px;
          height: 300px;
        }
      }
      .subPic {
        width: 70px;
        margin: 0px 5px;
        overflow: hidden;
        &:hover img {
          opacity: 0.5;
        }
        img {
          width: 100%;
          object-fit: cover;
          margin: 0;
        }
        @media (max-width: $rwdWidth) {
          width: 80px;
        }
      }
    }
    .infoArea {
      min-width: 475px;
      max-width: 475px;
      margin: 0 50px;
      @media (max-width: $rwdWidth) {
        min-width: 375px;
        max-width: 375px;
        margin: 10px auto;
        padding: 10px;
      }
      .brand {
        font-size: $text32;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 2rem;
        @media (max-width: $rwdWidth) {
          font-size: $text24;
          line-height: 1.4rem;
        }
      }
      .name {
        font-size: $text32;
        font-weight: 600;
        margin-bottom: 15px;
        line-height: 2rem;
        @media (max-width: $rwdWidth) {
          font-size: $text24;
          line-height: 1.4rem;
        }
      }
      .promotion {
        font-size: 18px;
        color: $hoverClr;
        background: $subClrBrown;
        padding: 5px;
        display: inline-block;
        @media (max-width: $rwdWidth) {
          font-size: 16px;
        }
      }
      .price {
        font-size: $text24;
        // font-weight: 600;
        border-bottom: 1px solid $subClrGY;
        text-align: end;
        margin: 20px 0;
        @media (max-width: $rwdWidth) {
          font-size: 20px;
          border-bottom: 0;
          text-align: start;
          margin: 0;
        }
      }
      .introContainer {
        min-height: 120px;
        @media (max-width: $rwdWidth) {
          min-height: 80px;
          margin: 5px auto !important;
        }
      }
      .quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $text24;
        margin-bottom: 20px;
        @media (max-width: $rwdWidth) {
          font-size: 1rem;
          margin-bottom: 10px;
        }
        button {
          border: 0;
          margin: 0 25px;
          background: none;
          @media (max-width: $rwdWidth) {
            margin: 0 5px;
          }
        }
        .number {
          min-width: 30px;
          text-align: center;
          @media (max-width: $rwdWidth) {
            min-width: 20px;
          }
        }
        .inventory {
          font-size: $text14;
        }
      }
      .cartFav {
        display: flex;
        justify-content: space-around;
        @media (max-width: $rwdWidth) {
          display: block;
        }
        button {
          padding: 5px 100px;
          background: $mainClrW;
          border: 1px solid $subClrGY;
          @media (max-width: $rwdWidth) {
            width: 100%;
            margin: 15px auto 0;
          }
        }
      }
    }
  }
}
