@import '../variable';

.filter {
  width: 1200px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media (max-width:$rwdWidth) {
  width: $rwdWidth;
    justify-content: center;
    // gap: 30px;
  }
  .filterBrand {
    width: 370px;
    height: 30px;
    border: 2px solid $subClrBrown;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    position: relative;
    @media (max-width:$rwdWidth) {
      display: none;
    }
  }
  .filterDisplay {
    height: 305px;
    width: 1205px;
    overflow: hidden;
    position: absolute;
    left: -3px;
    z-index: 100;
    transition: 0.3s;
    @media (max-width:$rwdWidth) {
      display: none;
    }
    .filterBoard {
      transform: translateY(-310px);
      transition: 0.3s;
      max-width: 1200px;
      min-height: 300px;
      overflow: hidden;
      position: absolute;
      left: 3px;
      border-radius: 0 0 10px 10px;
      box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
      padding: 15px 30px;
      background: $mainClrW;
      transition: 0.3s;
      .brandSection {
        min-height: 175px;
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px solid $hoverClr;
        margin-bottom: 10px;
        .brandSearch {
          position: relative;
          min-width: 240px;
          // background: #000;
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-right: 30px;
          p {
            position: absolute;
            top: 0;
          }
          input {
            height: 35px;
            text-align: center;
            border: 0;
            border-bottom: 2px solid $hoverClr;
            background: url(../../../public/img/product/product_icon/icons8-search-48.png)
              no-repeat 22%;
            background-size: 20px;
            &:focus {
              outline: transparent;
              background: none;
              &::placeholder {
                opacity: 0;
              }
            }
          }
        }
        .brandLayout {
          display: grid;
          grid-template-columns: repeat(6, 1fr);
          grid-auto-rows: 38px;
        .brand {
          min-width: 125px;
          display: flex;
          // justify-content: center;
          align-items: start;
          line-height: 1rem;
          margin: 10px 10px;
          // display: grid;
          input {
            accent-color: $subClrBrown;
            zoom: 150%;
            margin-right: 5px;
            border-radius: none !important;
          }
        }}
      }
      .priceSection {
        margin-top: 15px;
        display: flex;
        align-items: center;
        .priceTitle {
          .active {
            background: $subClrBrown;
            color: $mainClrW;
          }
          width: 240px;
          margin-right: 30px;
          display: flex;
          align-items: center;
          button {
            color: $contentClr;
            background: $mainClrW;
            padding: 6px 20px;
            margin: 0 5px;
            border: 1px solid $subClrGY;
            border-radius: 20px;
          }
        }
        .priceBtn {
          .active {
            background: $subClrBrown;
            color: $mainClrW;
          }
          button {
            color: $contentClr;
            background: $mainClrW;
            padding: 6px 12px;
            margin: 0 5px;
            border: 1px solid $subClrGY;
            border-radius: 20px;
          }
        }
        button:hover {
          background: $hoverClr;
        }
        .priceSearch {
          // max-width: 300px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          // margin-left: 10px;
          input {
            width: 70px;
            height: 28px;
            text-align: center;
            border: 2px solid $subClrGY;
            &:focus {
              outline: transparent;
            }
          }
          .pointer {
            cursor: pointer;
          }
        }
      }
    }
  }
  .filterPopular {
    border: 2px solid $subClrBrown;
    min-height: 30px;
    &:focus {
      outline: transparent;
    }
    @media (max-width:$rwdWidth) {
      margin-right: 50px;
    }
  }
  .searchbar {
    border: 2px solid $subClrBrown;
    width: 370px;
    height: 30px;
    padding-left: 5px;
    &:focus {
      outline: transparent;
      &::placeholder {
        opacity: 0;
      }
    }
    @media (max-width:$rwdWidth) {
      display: none;
    }
  }
  .searchButton {
    border: 2px solid $subClrBrown;
    border-left: 0;
    width: 45px;
    @media (max-width:$rwdWidth) {
      display: none;
    }
  }
  p {
    margin: 0;
  }
}
