@import '../variable';
@mixin d-flex() {
  display: flex;
  justify-content: start;
  align-items: center;
}
.categoryContainer {
  width: 290px;
  .title {
    min-width: 290;
    height: 70px;
    @include d-flex();
    border-bottom: 1px solid $contentClr;
    color: $subClrBrown;
    font-weight: 600;
    p {
      margin: 0;
    }
  }
  .category {
    @include d-flex();
    min-width: 290;
    height: 70px;
    padding-left: 10px;
    &:hover {
      background: $hoverClr;
    }
  }
}
