@import '../variable';

.toolsRwd {
  @media (max-width: $rwdWidth) {
    width: 55px;
    height: 100px;
    background: $subClrBrown;
    position: fixed;
    bottom: 7px;
    right: 7px;
    padding: 12px 0;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0.8;
    z-index: 500;
  }
}
.filterBox {
  width: 100vw;
  height: 100vh;
  background: #f8f8f8;
  position: fixed;
  top: 0;

  transition: 0.4s;
  overflow: auto;
  .filterContainer {
    padding: 15px 20px;
    .closeArea {
      display: flex;
      justify-content: end;
      padding-bottom: 10px;
      margin-bottom: 15px;
      border-bottom: 1px solid #ebebeb;
      .close {
        width: 45px;
        height: 45px;
        padding: 10px;
        border-radius: 50%;
        background: #444;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .cateArea {
      transition: 0.4s ease !important;
      overflow: hidden;
      .cateTitle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          color: $subClrBrown;
        }
        margin-bottom: 10px;
      }
      .cateGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 3px;
        //   display: flex;
        //   flex-wrap: wrap;
        //   justify-content: start;
        .cate {
          // width: 160px;
          padding: 8px;
          // box-shadow: 0 0 4px #444;
          border-radius: 25px;
          display: flex;
          //   justify-content: space-between;
          align-items: center;
          margin: 1px 0;
          background: $mainClrW;
          .catePic {
            min-width: 50px;
            max-width: 50px;
            max-height: 50px;
            min-height: 50px;
            border-radius: 50%;
            background: $subClrBrown;
            overflow: hidden;
            img {
                width: 100%;
                object-fit: cover;
            }
          }
          p {
            margin: 0;
            padding: 0 10px;
          }
        }
      }
    }
    .brandArea {
      margin-top: 20px;
      border-top: 1px solid #ebebeb;
      transition: 0.4s ease !important;
      overflow: hidden;
      .brandTitle {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          color: $subClrBrown;
        }
      }
      .brandGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-column-gap: 1px;
        padding: 0 10px;
        .brand {
          height: 60px;
          display: flex;
          justify-content: space-around;
          align-items: center;
          background: $mainClrW;
          padding: 10px 5px;
          border-radius: 40px;
          margin: 1px 0;
          label {
            min-width: 95px;
            margin: 0;
            padding: 0 10px;
          }
          input {
            margin-right: 15px;
          }
        }
      }
    }
    .priceArea {
      margin: 20px 0 30px;
      border-top: 1px solid #ebebeb;
      .priceTitle {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h5 {
          color: $subClrBrown;
        }
      }
      .slider {
        &:focus {
          color: #000;
          background: #000;
        }
      }
    }
  }
  .resultArea {
    background: $mainClrW;
    border-top: 1px solid #ebebeb;
    .result {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 25px 0;
      gap: 10px;
      p{
        font-weight: 600;
        color: $subClrBrown;
    }
    h4 {
        font-size: 24px;
        font-weight: 900;
      }
    }
    .button {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 25px ;
        padding-bottom: 120px;
      .clearAll {
        padding: 12px 15px;
        background: #f8f8f8;
        border: 0;
        border-radius: 30px;
      }
      .choose{
        padding: 12px 15px;
        background: #444;
        color: $mainClrW;
        border: 0;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
    }
  }
}
