@import '../variable';

.tool {
  position: fixed;
  top: calc(50% - 125px);
  right: 5px;
  width: 50px;
  height: 240px;
  color: $mainClrW;
  background: $subClrBrown;
  opacity: 0.3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.cartContainer {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  display: none;
}
.cart {
  width: 300px;
  height: 100vh;
  background: $contentClr;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  transition: 0.3s;
  color: $mainClrW;
  .cartTitle {
    height: 50px;
    z-index: 110;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: #333;
  }
  .cartItem {
    padding: 15px 15px 0 ;
    display: flex;
    figure {
      width: 60px;
      overflow: hidden;
      padding-right: 5px;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .cartInfo {
      width: 180px;
      // line-height: 1.2rem;
      p {
        margin: 0 auto 5px;
      }
    }
    .trash {
      cursor: pointer;
    }
  }
}
