@import '../../variable';

// container
.container {
  flex: 1 1 auto;
  max-width: 750px;
  max-height: 90vh;
  background: #fff;
  margin: 0 auto;
  padding: 2rem;
  color: $contentClr;
  border-radius: 3px;
  position: relative;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

// first line
.createController {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btn {
    box-shadow: 2px 2px 10px rgb(0 0 0 / 20%);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }
  .addBtn {
    color: #fff;
    background: $subClrBrown;
  }
}

// Form
.addingForm {
  .formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    .imgLabel {
      border: 1px solid $subClrGY;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 200px;
    }
    .addMaterialBtn {
      border: 2px solid $subClrBrown;
      color: $subClrBrown;
      padding: 0.5rem 0;
      background: #fff;
      border-radius: 3px;
      transition: 0.15s;
      &:hover {
        background: $subClrBrown;
        color: #fff;
      }
    }
  }
  // html tag css
  label {
    width: 100%;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $subClrGY;
    border-radius: 3px;
    &:focus {
      // outline: none;
      outline: 1.5px solid $subClrBrown;
      &::placeholder {
        color: transparent;
      }
    }
  }
  textarea {
    resize: none;
  }
}
