@import '../../variable';

// container
.container {
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: 900px) {
    flex-direction: column;
  }
}

// first line
.createController {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  .btn {
    box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
    border: 0;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    color: #fff;
  }
  @media (max-width: 900px) {
    flex-direction: row;
    margin-left: 0 !important;
    margin-bottom: 0.5rem;
  }
}

// Form
.addingForm {
  flex: 1 1 auto;
  max-width: 750px;
  max-height: 90vh;
  background: #fff;
  margin: 0 auto;
  padding: 2rem;
  color: $contentClr;
  border-radius: 3px;
  position: relative;
  overflow-y: auto;
  // &::-webkit-scrollbar {
  //   display: none;
  // }
  .formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    .imgLabel {
      border: 1px solid $subClrGY;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 200px;
    }
    .addMaterialBtn {
      border: 2px solid $subClrBrown;
      color: $subClrBrown;
      padding: 0.5rem 0;
      background: #fff;
      border-radius: 3px;
      transition: 0.15s;
      &:hover {
        background: $subClrBrown;
        color: #fff;
      }
    }
  }

  .cateSelect {
    flex: 1 1 auto;
    padding: 0.25rem;
    &:hover {
      // outline: 1px solid $subClrBrown;
      border-color: $subClrBrown;
    }
    &:focus-visible {
      // border-color: 1px solid $subClrBrown;
      outline: none;
    }
  }
  // html tag css
  label {
    width: 100%;
  }
  input,
  textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid $subClrGY;
    border-radius: 3px;
    &:focus {
      // outline: none;
      outline: 1.5px solid $subClrBrown;
      &::placeholder {
        color: transparent;
      }
    }
  }
  textarea {
    resize: none;
  }
}
