@import '../../variable';

.container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  max-width: 250px;
  border-radius: 5px;
  &:hover .imgContainer {
    opacity: 0.7;
  }
  &:hover .title {
    color: $subClrBrown;
  }
  cursor: pointer;
}

.imgContainer {
  max-width: 220px;
  max-height: 150px;
  overflow: hidden;
  transition: 0.3s;
}

.title {
  position: relative;
  padding-left: 0.5rem;
  border-left: 5px solid $subClrBrown;
  line-height: 1.5rem;
  transition: 0.3s;
  font-weight: bold;
}

.about {
  display: flex;
  gap: 1rem;
  align-items: center;
  .like,
  .comment {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
  span {
    font-size: $text12;
  }
}
