@import '../../styles/variable';
.fromBg{
    width: 100%;
    height: 100vh;
    background-color: #00000077;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.createFormMain{
    margin: auto ;
    width: 50%;
    height: 80vh;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow: scroll;
        .form {
            line-height: 1.5rem;
            width: 70%;
            margin: auto;
            .faIcon{
                font-size: $contentText;
                margin: -3px 3px 0 0;
            }
            .imgLabel {
                border: 1px solid $subClrGY;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 300px;
                position: relative;
                .imgTitleText{
                    z-index: 1;
                }
                .upLoadImg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 2;
                    position: absolute;
                }
            }
            .imageInput{
                opacity: 0;
                z-index: -1;
                position: absolute;
            }
            select {
                width: 8rem;
                height: 100%;
                border-radius: 5px;
                border: 1px solid $subClrGY;
                &:focus{
                    outline: none;
                    outline: 3px solid #817161b8;
                  }
            }
            label {
                font-size: 18px;
                margin: 0 0 .3rem;
                border: $subClrGY;
                color: $contentClr;
                .remindText{
                    font-size: 12px;
                    color: red;
                }
            }
            input, textarea {
                padding: .3rem;
                border-radius: 5px;
                border: 1px solid $subClrGY;
                &:focus{
                    outline: none;
                    outline: 3px solid #817161b8;
                    &::placeholder {
                        color: transparent;
                      }
                  }
            }
            textarea {
                resize: none;
              }
            .inputCity {
                width: 8rem;
                height: 100%;
                padding:0;
            }
            .location{
                width: 100%;
                height: 2rem;
            }
        }
        .button {
            .btn {
                width: 20%;
                border-radius: 5px;
                color: $mainClrW;
                background: $subClrBrown;
                &:active,&:hover{
                    padding: 6px;
                    outline: 3px solid #817161b8;
                    transition: .5;
                }
            }
        
        }
}