@import '../variable';
@import '../picnic/picnicVariable';

// //font-size
// $text9Rem: 9rem;
// $text18: 18px;
// // $text18: 

// //font-weight
// $fW900: 900;
// $fW700: 700;


@mixin w-h($width, $height) {
    width: $width;
    height: $height;
}
@mixin imgObj {
    width: 100%;
    object-fit:cover;
}
@mixin contentWrap {
    .wrap {
        height: 600px;
        display: flex;
        align-items: center;
    .image{
        width: 650px;
        height: 450px;
        margin-left: 3rem;
        overflow: hidden;
        box-shadow: .3px .3px 7px;
        border-radius: 5px;
        img {
            @include imgObj;

            height: 100%;
            transition: transform 2.5s ease;
        }
        &:hover img{
            transform: scale(1.2);
        }
    }
    .content-text{
        width: 500px;
        margin: auto;
        .title{
            font-size: $titleText;
        }
        .text-p{
            border-top: 1px solid $contentClr;
            padding-top: 40px;
            p {
                font-size: $text18;
                line-height: 30px;
               }
        }
        .btn {
            width: 400px;
            padding: 10px 0;
            font-size: $text18;
            border: 1px solid $subClrGY;
            border-radius: 0%;
            box-shadow:.5px .5px 2px;
            &:hover, &:active {
                background: $focusClrY;
                color: $mainClrW;
            }
        }
        
    }
    
    }
}

.main {
    width: $maxWidth;
    margin: auto;
    position: relative;
    top: $headerHeight;
// ----- main banner -----
    .section-main{
        display: flex;
        // height: calc(80vh - $headerHeight);
        margin: 100px 0;
        .title-bn {
            width: 60%;
            display: flex;
            align-items: center;
            margin: auto 0;
            img {
                @include imgObj;
            }
            .balloon1{
                width: 7%;
                position: absolute;
                top: 2rem;
                left: 20rem;
            }
            .balloon2{
                width: 7%;
                position: absolute;
                top: 3rem;
                left: 29rem;
            }
        }
        .title-text {
            width: 40%;
            position: relative;
            .title-slogan {
                position: absolute;
                top: 5rem;
                span {
                color: $mainClrW;
                font-size: $text9Rem;
               font-weight: $fW900;
               -webkit-text-stroke: 4px $subClrGY;
                
               &:nth-child(n) {
                color: $focusClrG;
               }
               &:nth-child(2n) {
                color: $focusClrY;
               }
            }
            }
            .title-slogan2 {
                color: $contentClr;
                font-size: $titleText;
                font-weight: $fW700;
                
                .first-child {
                position: absolute;
                top: 25rem;
                right: 10rem;
                }
                .last-child {
                    position: absolute;
                    top: 30rem;
                    right: 4rem;
                    }
        }
        
        }
        // .icon-ArrowDropdown {
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        // }

    }
// ----- content ------
    .section-content{
            @include contentWrap;
    }
    
}

