@import '../variable';
@import '../picnic/picnicVariable';

@mixin iconSize {
    font-size: 1.2rem;
    margin: -3px 5px 0;
}
@mixin imgWH {
    width: 100%;
    height: 100%;
}
@mixin contentTitle {
    font-size: $text24;
    padding: 0 5px;
    margin: .7rem 0;
    border-left: 5px solid $subClrBrown;   
}
@mixin arrowIcon {
    font-size: $text32;
    margin: auto 0;
    color: $contentClr;
    cursor: pointer;
}   
@mixin lineHeight {
    line-height: 1.9rem;
}

.PicnicOfficalDetailContainer {
    margin: $headerHeight auto;
    .contentTitle {
        @include contentTitle;  
    }
    .main {
        .mainWrap {
            ul {
                padding: 0;
                li {
                    font-size: $contentText;
                }
            }
            // --------- 上方活動資訊和圖片 ---------
            .detailTitle {
            h2 {
                border-bottom: 1px solid $subClrGY;
                padding: 0 0 1rem;
            }
            .titleContent {
                li {
                    font-size: $text20;
                    line-height: 3rem;
                    .faPawIcon {
                        @include iconSize;
                        color: $subClrBrown;                
                    }
                }
            }
            .image {
                width: 100%;
                height: 500px;
                img {
                    @include imgWH;
                    object-fit: cover;
                }
            }
            }
            // --------- 活動內容 ---------
            .offcialDetailContent {
                li {
                    font-size:  $contentText;
                }
            .contentWrap1 {
                padding: 2rem 3rem;
                margin: auto 0;
                border-radius: 10px;
                box-shadow: .8px .8px 5px $subClrGY;
                .quoteLeftIcon {
                    font-size: 1.2rem;
                    margin: -1rem 5px 0;
                    // color: $subClrBrown;
                }
                .quoteRightIcon {
                    font-size: 1.2rem;
                    margin: 0 5px -1rem;
                    // color: $subClrBrown;
                }
                p {
                    font-size: $text18;
                    text-align:justify;
                    margin: 0;
                    @include lineHeight;
                    // color: $subClrBrown;
                }    
            }
            .noticeItem {
                background-color: $hoverClr;
                padding: 1rem;
                li {
                    text-indent: -1em;
                    @include lineHeight;
                }
            }        
            li {
                @include lineHeight;
                margin-left: 38px;
                text-indent: -1.9rem;
                .warnIcon {
                    @include iconSize;
                    color: $focusClrY;
                    // margin-left: 10px;
                }
                .checkIcon {
                    @include iconSize;
                    color: $focusClrG;
                }
                .crossIcon {
                    @include iconSize;
                    color: $subClrGY;

                }
            }
            }
            // --------- 參加者 ---------
            .paicipantOff {
                margin: 5rem 0;
                h4 {
                    margin: 1.5rem 0;
                    font-size: $text20;
                }
                .arrowIconSlider{
                    width: 936px;
                    position: relative;
                    margin-top: -20px;
                    .arrowIconLeft {
                    @include arrowIcon;
                    font-size: 40px;
                    color: $contentClr;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translate(-8px,-50%);
                    }
                    .arrowIconRight {
                    @include arrowIcon;
                    font-size: 40px;
                    color: $contentClr;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    }
                }
                .slider {
                    max-width: 900px;
                    height: 250px;
                    margin: auto 46px;
                    position: relative;
                    top: 40px;
                    overflow: hidden;
                    .slidewrap {
                        width: 3500px;
                        position: absolute;
                        // transform: translateX(-200px);
                        .paicipantCard {
                            width: 130px;
                            margin: 5px 5px;
                            padding: 10px 0px;
                            background: $hoverClr;
                            box-shadow: 1px 1px 5px $hoverClr;
                            text-align: center;
                            &:hover .userIntro{
                                transition: .5s;
                                opacity: 1;
                            }   
                            .avatar {
                                width: 110px;
                                height: 110px;
                                border-radius: 50%;
                                border: 1px solid $hoverClr;
                                margin: auto ;
                                overflow: hidden;
                                img {
                                    @include imgWH;
                                    object-fit: cover;
                                }
                            }
                            .userName {
                                font-size: $contentText;
                            }
                            // .userIntro1{
                            //     font-size: 12px;
                            //     display: -webkit-box;
                            //     -webkit-box-orient: vertical;
                            //     -webkit-line-clamp: 2;
                            //     overflow: hidden;
                            // }
                            .userIntro {
                                background: white;
                                position: absolute;
                                top: 5px;
                                width: 130px;
                                min-height: 170px;
                                padding: 15px;
                                text-align: justify;
                                border-radius: 12px;
                                box-shadow: .2px .2px 5px #e0e0e0;
                                display: block;
                                font-size: 13px;
                                opacity: 0;
                                .quoteIcon {
                                    color: $contentClr;
                                    font-size: 12px;
                                    margin: 0 5px;
                                }           
                            }               
                            
                        }
                           

                    }
                }
               
            }
        }
         // --------- 側邊資訊欄 ---------
         .asideMessage {
        min-width: 250px;
        width: 20rem;
        position: sticky;
        top: 0;
        right: 0;
        border: 1px solid $subClrBrown;
        box-shadow: 0 0 3px $subClrGY;
        padding: 1.5rem;
        p {
            font-size: $text20;
            margin: 0;
        }
        .stateBtn {
            font-size: $text14;
            background: $focusClrY;
            border-radius: 2rem;
            color: $mainClrW;
            padding: 2px 7px;

        }
        .calendarIcon, .mapMarkerIcon, .personIcon {
            font-size: 1rem;
            margin: -3px 5px 0 0;
        }
        .map {
            width: 100%;
            height: 150px;
            border: 1px solid; 
        }
        .price {
            color: $contentClr;
            font-weight: $fW600;
        }
        .joinInBtn {
            color: $mainClrW;
            background: $subClrBrown;
            border-radius: 4px;
            padding: 5px 9px;
            border: none;
            &:hover {
                outline: 3px solid #817161b8;
            }
        }
        }
    }   
     // --------- 推薦商品 ---------
     .recommendProducts {
        margin:0 0 5rem;
        h4 {
            margin: 1.5rem 0;
            font-size: $text20;
            color: $subClrBrown;
        }
        .arrowIconSlider {
            width: 1350px;
            // background-color: aqua;
            position: relative;
            .arrowIconLeft {
                @include arrowIcon;
                font-size: 40px;
                color: $contentClr;
                position: absolute;
                top: 50%;
                left: 0px;
                transform: translate(-10px,-50%);
            }
            .arrowIconRight {
                @include arrowIcon;
                font-size: 40px;
                color: $contentClr;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
            .slider{
                // background:rgb(202, 0, 0);
                max-width: 1260px;
                height: 220px;
                margin: auto 40px;
                position: relative;
                overflow: hidden;
                .slidewrap{
                    width: 3000px;
                    position: absolute;
                    // transform: translateX(-200px);
                    .productCard {
                        max-width: 200px;
                        height: 200px;
                        margin: 5px;
                        overflow: hidden;
                        position: relative;
                        .productImg{
                            width: 100%;
                            height: 100%;
                            img {
                                @include imgWH;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .hoverText{
                            width: 100%;
                            height: 200px;
                            color: $mainClrW;
                            font-size: $contentText;
                            background:#444444b7 80%;
                            text-align: center;
                            transition: .5s;
                            display: flex;
                            align-items: center;
                            position: absolute;
                            top: 0;
                            opacity: 0;
                        }
                        a{
                            width: 100%;
                        }
                        span {
                            width: 100%;
                            display: inline-block;
                            text-shadow: .5px .5px 1px $contentClr;
                            font-size: $contentText;
                            margin: auto;
                        }
                        &:hover {
                            .hoverText {
                                cursor: pointer;
                                transition: .5s;
                                opacity: 1;
                            }
                            span{
                                color: white;
                            }
                        }
                    }
                    
                }
            }
        }
                    
    }
           
    // --------- 推薦熱門活動 ---------
    .recommendActivity {
        // margin: 5rem 0;
        max-width: 1380px;
        overflow: hidden;
        h4 {
            margin: 1.5rem 0;
            font-size: $text20;
            color: $subClrBrown;
        }
        .cardItem {
            max-height: 250px;
            max-width: 250px;
            display: flex;
            flex-direction: column;
            margin:5px 1px;
            padding: 20px ;
            box-shadow: .5px .5px 6px $subClrGY;
            .date {
                font-size: $text14;
            }
            .cardTitle {
                color:  $subClrBrown;
                font-size: $contentText;
            }
            .location {
                // font-size: $contentText;
                .mapMarkerIcon{
                    @include iconSize;
                    margin: 0 2px 0 0;
                }
            }
            .infoText {
                // font-size: $text14;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
            }
            .userPicItems {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                .userPic {
                    background: lightcoral;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin: auto 3px;
                    overflow: hidden;
                    img {
                        @include imgWH;
                        object-fit: cover;
                    }
                }
            }
            .joinBtn {
                color: $mainClrW;
                font-size: $text10;
                background: $focusClrY;
                border-radius: 20px;
                padding: 4px 7px;
                margin: auto 0;
                flex-shrink: 0;
                transition: .5s;
            }   
            &:hover {
                transition: .5s;
                background: $focusClrY;
                .cardTitle {color: $mainClrW;}
                .joinBtn { 
                    color: $contentClr;
                    background: $mainClrW;
                    
                }
            }
            &:focus {
                border: none;

            }
        }
    }


}

