@import '../variable';
@import '../picnic/picnicVariable';

// //font-size
// $text9Rem: 9rem;
// $text18: 18px;
// // $text18: 

// //font-weight
// $fW900: 900;
// $fW700: 700;


@mixin w-h($width, $height) {
    width: $width;
    height: $height;
}
@mixin imgObj {
    width: 100%;
    object-fit:cover;
}
@mixin contentWrap {
    .wrap {
        // height: 500px;
        display: flex;
        align-items: center;
        border-radius: 10px;
        box-shadow: .8px .8px 10px $subClrGY;
        margin: 80px 0 ;
        .image{
            width: 700px;
            height: 500px;
            // margin-left: 3rem;
            overflow: hidden;
            // box-shadow: .3px .3px 7px;
            border-radius: 3px;
            img {
                @include imgObj;
                height: 100%;
            }
        
    }&:hover{
        transform: translateY(-20px);
        transition: transform 1s ease-in-out;
    }
    .content-text{
        width: 500px;
        margin: auto;
        .title{
            font-size: $titleText;
        }
        .text-p{
            border-top: 1px solid $contentClr;
            padding-top: 40px;
            p {
                font-size: $text18;
                line-height: 30px;
               }
        }
        .btn {
            width: 400px;
            padding: 10px 0;
            font-size: $text18;
            border: 1px solid $subClrGY;
            border-radius: 0%;
            box-shadow:.5px .5px 2px;
            &:hover, &:active {
                background: $focusClrY;
                color: $mainClrW;
            }
        }
        
    }
    
    }
}

// ----- main banner -----
.section-main{
    display: flex;
    margin: 65px 0 0;
    // .iconArrowDropdown{
    //     color: white;
    //     font-size: 5rem;
    //     position: absolute;
    //     bottom: 15%;
    //     right: 50%;
    // }
    .banner{
        width: 100%;
        height: 600px;
        img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }
    .title-bn {
        width: 60%;
        display: flex;
        align-items: center;
        margin: auto 0 auto 30px;
        img {
            @include imgObj;
        }
        .balloon1{
            width: 7%;
            position: absolute;
            top: 9%;
            left: 20%;
        }
        .balloon2{
            width: 7%;
            position: absolute;
            top: 14%;
            left: 28%;
        }
    }
    .title-text {
        width: 40%;
        position: relative;
        .title-slogan {
            position: absolute;
            top: 10rem;
            right: 5%;
            span {
            color: $mainClrW;
            font-size: 12rem;
           font-weight: $fW900;
           -webkit-text-stroke: 4px $subClrGY;
            
           &:nth-child(n) {
            color: $focusClrG;
            margin: 0 5px;
           }
           &:nth-child(2n) {
            color: $focusClrY;
           }
        }
        }
        .title-slogan2 {
            color: $contentClr;
            font-size: 50px;
            font-weight: $fW700;
            
            .first-child {
            position: absolute;
            top: 35rem;
            right: 30%;
            }
            .last-child {
                position: absolute;
                top: 43rem;
                right: 8%;
                }
    }
    
    }
}
.main {
    width: $maxWidth;
    margin: auto;
    position: relative;
    top: $headerHeight;
// ----- content ------
    .section-content{
        margin: 0 auto 100px; 
            @include contentWrap;
    }
    
}

