@import '../../variable';

.activityCardStyle{
    .mb-view{
        display: none;
    }
    padding: 0;
    margin: 15px;
    border-radius: 20px;
    overflow: hidden;
    max-width: 240px;
    box-shadow: 0.5px 0.5px 6px rgba(0, 0, 0, 0.3);
    transition: .5s;
    &:hover{
        transform: translateY(-5px);
    }
    .activityImg{
        img{
            width: 100%;
            height: 145px;
            // object-fit: cover;
        }
    }
    .activityInfo{
        margin: 0 10px;
        .activityTitle{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title{
                font-size: 18px;
                color: $subClrBrown;
            }
            .collectBtn{
                font-size: 1.2rem;
                cursor: pointer;
                &:hover{
                    color: #dd2424
                }
            }
            .hasCollectBtn{
                font-size: 1.2rem;
                cursor: pointer;
                color: #dd2424;
                &:hover{
                    color: $contentClr;
                }
            }
        }
        .labelContent{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .label{
                background-color: $focusClrB;
                color: #fff;
                font-size: $text12;
                border-radius: 15px;
                padding: 2px 8px;
                margin-right: 5px;
                &.coming{
                    background-color: $subClrBrown;
                }&.ing{
                    background-color: $focusClrY;
                }&.found{
                    background-color: $focusClrG;
                }&.end{
                    background-color: $subClrGY;
                }
            }
            .price{
                font-size: $text12;
            }
        }
        
        .dateText{
            color: $subClrBrown;
            font-size: $text14;
        }
        .progressBar{
            border: 1px solid $subClrGY;
            width: 220px;
            height: 10px;
            .bar{
                background-color: $focusClrY;
                // width: (15/25)*220-2px;
                height: 100%;
            }
        } 
        .content1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $focusClrY;
            font-size: $text12;
        }
        .activityText{
            font-size: $text12;
            .intContent{
                text-align: justify;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
            }
        }
        .intMore{
            text-align: end;
            padding-left: 5px;
            font-size: $text12;
            &:hover .more,
            &:hover .moreIcon{
                color: #817161;
            }
            .moreIcon{
                color: $focusClrG;
                size: '1.2em'
            }
            .more{
                color: $focusClrG;
            }
            
        }
    }
    @media screen and (max-width:375px) {
        .d-none{
            display: none;
        }
        .pc-view{
            display: none;
        }
        margin: 10px auto;
          
    }
}