@import '../../variable';

@mixin filterTitle {
    font-size: 20px;
    border-bottom: 3px solid $subClrBrown;
    padding-bottom: 7px;
    width: 80%;
}
@mixin buttonHover {
    box-shadow: .2px .2px 6px rgba(0, 0, 0, 0.5);
}

.activitySlider{
    margin-bottom: 40px;

    .sliderText{
        @include filterTitle;
    }
    .slider {
        width: 80%-5;
        margin: 10px;
      }
    .sliderSearch{
        width: 80%-8;
        margin-left: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        button{
            font-size: 14px;
            font-weight: 350;
            background-color: $subClrBrown;
            border: none;
            border-radius: 30px;
            color: white;
            padding: 3px 14px;
            margin: 10px 0;
            transition: .5s;
            &:hover{
                @include buttonHover;
            }
        }
    }
}
@media screen and (max-width:375px) {
    .activitySlider{
        width: 48%;
        display: inline-block;
        margin: 0 2px 30px;
        .sliderText{
            width: 100%;
            text-align: center;
        }
        .slider{
            margin: 0 auto;
        }
        .priceText{
            width: 100%;
            margin: 8px 0 0 ;
            // display: flex;
            // justify-content: end;
        }
    }
}
