@import '../../variable';
@mixin filterTitle {
    font-size: 20px;
    border-bottom: 3px solid $subClrBrown;
    padding-bottom: 7px;
    width: 80%;
}
@mixin buttonHover {
    box-shadow: .2px .2px 6px rgba(0, 0, 0, 0.5);
}

.activityDate{
    margin-bottom: 40px;
    text-align: end;
    .dateText{
        @include filterTitle;
    }
    input::-webkit-calendar-picker-indicator {
        width: 25px;
        height: 25px;
        color: $mainClrW;
        // background-color: $subClrBrown; 
        // background-image: -webkit-linear-gradient(top, $subClrBrown, $subClrBrown);
        border-radius: 2px; 
        cursor: pointer;
    }
    button{        
        border: 1px solid $subClrGY;
        color: $mainClrW;
        border-radius: 30px;
        background-color: $subClrBrown;
        padding: 3px 14px;
        margin-top: 20px;
        margin-right: 23%;
        transition: .5s;
        font-size: 14px;
        font-weight: 300;
        &:hover{
            @include buttonHover;
        }
    }
}
@media screen and (max-width:375px){
    .activityDate{
        .dateText{
            width: 100%;
            text-align: center;
        }
        .dateInputGrop{
            align-items: center;
        }
        button{
            margin-right: 30px;
        }
    }
}