@import '../../variable';

.slide{
    // max-width:1375px;
    overflow: hidden;
    position: relative;
    .placeSlider{
        // left:0;
        margin-bottom: 50px;
        width:3000px;
        align-items: center;
        position: relative;
        // transform: translateX(-275px);
        .placeSliderContainer{
            display: inline-block;
            width: 235px;
            padding: 20px;
            margin: 20px;                
            border: 2px solid $focusClrY;
            transition: .3s;
            .contentDate{
                font-size: $text12;
            }
            .contentName{
                font-size: $contentText;
                padding: 8px 0 25px;
            }
            .contentCounty{
                font-size: $text14;
            }
            .contentDistance{
                font-size: $text12;
                padding: 15px 0;
            }
            .contentImg{
                max-width: 35px;
                border: 1px solid $subClrGY;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 5px;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .contentBtn{
                font-size: $text14;
                padding: 6px 10px;
                background-color: $focusClrY;
                border-radius: 15px;
                border: 0;
                color: $mainClrW;
                transition: .3s;
            }
            &:hover{
                background-color: #f2ab31df;
                color: $mainClrW;
                border: 2px solid $subClrBrown;
                .contentBtn{
                    background-color: $focusClrG;
                }
            }
        }
    }
}
