@import '../../variable';
@mixin buttonHover {
    box-shadow: .2px .2px 6px rgba(0, 0, 0, 0.5);
}
@mixin joinBtn {
    display: inline-block;
    margin-top: 20px;
    padding: 4px 8px;
    border: 0;
    color: $mainClrW;
}

.sticky{
    position: sticky;
    top: 65px;
}
aside{
    padding: 20px;
    margin: 20px 70px;
    border: 2px solid $subClrBrown;
    transition: .3s;
    .asideTitle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .titleName{
        font-size: 20px;
        }
        .state{
            font-size: $text12;
            color: $mainClrW;
            border-radius: 12px;
            padding: 2px 7px;
            background-color: $focusClrG;
        }
    }
    .asidePrice{
        font-size: $text14;
        padding: 5px 0;
        color: $focusClrB;
    }
    .asideContent{
        .contentItem{
            display: flex;
            align-items: center;
            margin: 15px 0;
            font-size: $text14;
        }
    }
    .asideMap{
        height: 150px;
        width: 100%;
        border: 1px solid lightblue;
    }
    .joinBtn{
        background-color: $focusClrY;
        cursor: pointer;
        transition: .3s;
        @include joinBtn();
        &:hover{
            @include buttonHover;
        }
    }
    .hadJoinBtn{
        background-color: $subClrBrown;
        cursor: pointer;
        transition: .3s;
        @include joinBtn();
        &:hover{
            @include buttonHover;
        }
    }
    .disabledBtn{
        background-color: $contentClr;
        cursor: default;
        @include joinBtn();
    }
    .loginBtn{
        background-color: $focusClrB;
        cursor: pointer;
        @include joinBtn();
    }
}