@import '../../variable';

.slideContent{
    display: inline-block;
    position: relative;
    &:hover .back{
        transform: rotateY(-180deg);
    }
    &:hover .joinUser{
        transform: rotateY(180deg);
    }
    .joinUser{
        width: 145px;
        height: 180px;
        padding: 0 15px;
        background-color: $hoverClr;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px;
        backface-visibility: hidden;
        transition: 0.6s;
        transform-style: preserve-3d;
        .userImg{
           max-width: 100px;
           border-radius: 50%;
           img{
            width: 100%;
            height: 100%;
            object-fit: cover;
           }
        }
        .userName{
            margin-top: 20px;
            font-size: 20px;
            color: $focusClrB;
        }
        .back{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;
            transition: .7s;
            transform-style: preserve-3d;
            transform: rotateY(-180deg);
            .backbcg{
                position: relative;
                height: 100%;
                width: 100%;
                &::before{
                    content: "";
                    background: url(../../../../public/img/camping/activity_camping_img/campingDetail_background.jpg) 70% center no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    bottom: 0px;
                    left: 0px;
                    opacity: .8;
                }
            }
            .backInt{
                position: relative;
                top: 0;
                left: 0;
                opacity: 1;
                font-size: 14px;
                padding: 10px;
                color: $subClrBrown;
                text-align: justify;
            }
        }
    }
    
}

@media screen and (max-width:375px) {
    .slideContent{
        transition: .3s;
        .joinUser{
            width: 135px;
            height: 160px;
            margin: 10px;
            .userImg{
               max-width: 90px;
            }
            .userName{
                margin-top: 15px;
                font-size: 18px;
            }
            .back{
                .backInt{
                    font-size: 12px;
                    line-height: 1.3rem;
                }
            }
        }
        
    }
}