@import '../../variable';
@mixin slide($translateX) {
  z-index: 10;
  position: absolute;
  top: 50%;
  transform: translate($translateX, -50%);
  cursor: pointer;
  }
  
.productSlide {
  margin: 50px auto;
  // max-width: 1260px.;
  position: relative;
  .sliderLeft {
    left: 0;
    @include slide(-60px);
  }
  .sliderRight {
    right: 0;
    @include slide(60px);
  }
}

@media screen and (max-width:375px) {
  .productSlide {
    margin: 35px auto;
    // max-width: 1260px.;
    // position: relative;
    .sliderLeft {
      // z-index: 5;
      // position: absolute;
      // top: 0;
      transform: translate(-30px, -40px);
      cursor: pointer;
      // left: 0;
    }
    .sliderRight {
      // z-index: 5;
      // position: absolute;
      // top: 50%;
      transform: translate(30px, -45px);
      // cursor: pointer;
      // right: 0;
    }
  }
}